* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0f0f0f;
  color: #fff;
  scroll-behavior: smooth;
}


/* HERO */
.hero {
  text-align: center;
  padding: 80px;
}

.hero span {
  color: #00ffd5;
}

/* SECTIONS */
section {
  padding: 40px 80px;
  text-align: center;
}

.note {
  color: #aaa;
}

/* TABS */
.tabs button {
  margin: 10px;
  padding: 10px 20px;
  background: #00ffd5;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/* PROJECTS */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  width: 300px;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}
